{{ $links := .Site.Params.links }}
<footer class="footer">
    <div class="container">
        <div class="columns is-multiline is-centered">
            <div class="column is-4 is-12-mobile">
                <figure class="copyright">
                    <img src="https://intl.qingcloud.com/static/assets/images/icons/common/nav_logo_white.svg" alt="logo">
                    <!-- <figcaption>&copy; QingCloud 2020</figcaption> -->
                    <p>Driving Innovation with Cloud Computing</p>
                </figure>
                <div class="is-flex-desktop" style="align-items: center">
                    
                    <div class="menu">
                        <ul class="menu-icon">
                            <li style="display:none;">
                                <a href="javascript:;"><i class="icon icon-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/qingcloud/"><i class="icon icon-linkedin"></i></a>
                            </li>
							<li>
                                <a href="https://www.facebook.com/QingCloud-111879390485734/"><i class="icon icon-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column is-2 is-12-mobile">
                <div class="menu">
                    <h3 class="menu-label">Account</h3>
                    <ul class="menu-list">
                        <li>
                            <a href="https://intl.qingcloud.com/aboutus">Free Registration</a>
                        </li>
                        <li>
                            <a href="https://intl.qingcloud.com/company-activities/enterprise-activity/">My Account</a>
                        </li>
                        <li>
                            <a href="https://intl.qingcloud.com/case_news">Billing Center</a>
                        </li>
                        <li>
                            <a href="https://intl.qingcloud.com/press">Invoices</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column is-2 is-12-mobile">
                <div class="menu">
                    <h3 class="menu-label">Products</h3>
                    <ul class="menu-list">
                        <li>
                            <a href="https://intl.qingcloud.com/products/express/">CloudCube Express</a>
                        </li>
                        <li>
                            <a href="https://intl.qingcloud.com/products/Desktop/">Desktop Cloud</a>
                        </li>
                        <li style="line-height: 0.5rem;">
                            <a href="https://intl.qingcloud.com/products/kubesphere/" style="padding: 0.1em;">KubeSphere<sup>®<sup></sup></sup></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column is-2 is-12-mobile">
                <div class="menu">
                    <h3 class="menu-label">Solutions</h3>
                    <ul class="menu-list">
						<li>
                            <a href="https://intl.qingcloud.com/solutions/e-commerce/">E-Commerce Industry</a>
                        </li>
                        <li>
                            <a href="https://intl.qingcloud.com/solutions/financial-industry-solutions/ ">Financial Industry</a>
                        </li>
						<li>
                            <a href="https://intl.qingcloud.com/solutions/big-data-solutions/">Big Data</a>
                        </li>
                        <li>
                            <a href="https://intl.qingcloud.com/solutions/video-industry-solutions/">Video Industry</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column is-2 is-12-mobile">
                <div class="menu">
                    <h3 class="menu-label">Quick Links</h3>
                    <ul class="menu-list">
                        <li>
                            <a href="https://intl.qingcloud.com/company/">About Us</a>
                        </li>
                        <li>
                            <a href="https://intl.qingcloud.com/partner/">Partner</a>
                        </li>
                        <li>
                            <a href="https://intl.qingcloud.com/nonprofits">Terms of Use</a>
                        </li>
                        <li>
                            <a href="https://community.qingcloud.com/">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="static-button-icon qimo-btn">
            <div id="back-to-top" class="show"><figure class="image"></figure></div>
        </div>
    </div>
</footer>
