<div class="nav-wrapper">
	<nav class="navbar navmenu">
		<div class="container with-no-position">
			<div class="navbar-brand">
				<a class="navbar-item logo" href="https://intl.qingcloud.com">
					<img src="https://intl.qingcloud.com/static/assets/images/icons/common/nav_logo_white.svg?v=1586837905" alt="logo" width="auto" height="32">
				</a>
				<a href="javascript:;" class="nav-trigger">&nbsp;<span aria-hidden="true"></span></a>
			</div>
			<div class="navbar-end is-hidden-mobile header-account">
				<div class="navbar-item">
					<div class="field is-grouped">
						<div class="navbar-sales">
						<i class="short_form_icon"></i>
						<a href="https://jinshuju.net/f/WKQQuK" target="blank">
						Short Form
						</a>
						</div>
						<form class="search j-search" action="/ss" method="GET">
							<input value="" class="searchInput" type="text" placeholder="KubeSphere" name="q" autocomplete="off">
							<input type="submit" class="icon icon-search" value="">
						</form>
						<p class="control user-links is-hidden">
							<a class="nav-item console" href="https://console.qingcloud.com/">Console →</a>
						</p>
						<p class="control navbar-user">
							<a class="nav-item" href="https://console.qingcloud.com">Sign in</a>
						</p>
						<div class="navbar-user">
							<a class="button is-primary" href="https://console.qingcloud.com/signup/" data-gio="{id:'createPageView',var:{sourceType_var:'导航栏'}}">Sign up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<nav class="navbar navmenu navbar_index">
		<div class="container with-no-position">
			<div class="navbar-item navbar-menu main-nav is-hidden-touch">
				<a class="navbar-item has-dropdown" data-content="sub-menu-product" href="javascript:;">Products</a>
				<a class="navbar-item has-dropdown" data-content="sub-menu-solution" href="https://intl.qingcloud.com/solutions" data-gio="{id:'navClick',var:{navName_var:'solutions'}}">Solutions</a>
				<a class="navbar-item" href="https://intl.qingcloud.com/partner/" data-gio="{id:'navClick',var:{navName_var:'partners'}}">Partner</a>
				<a class="navbar-item" data-content="sub-menu-support" href="http://192.168.13.189/vdi-product-doc/#/en/" target="blank">Document</a>
				<a class="navbar-item" data-content="sub-menu-more" href="https://intl.qingcloud.com/company/">About Us</a>
			</div>
		</div>
	</nav>
	<nav class="navbar navmenu navbar_path">
		<div class="container is-size-7" id="index_url_path"><a href="/" class="has-text-primary">Docement</a></div>	
		</div>
	</nav>
</div>
<script src="/js/navbar.js"></script>